<p>crear-persona works!</p>

<form [formGroup]='itemForm' (ngSubmit)=submit()>
    <div class="contenedor">  
       
            <mat-card-title>Formulario</mat-card-title>
            
            <div class="container">
                <mat-form-field class="example-full-width">
                    <input type="text" formControlName="nombre" matInput placeholder="Nombre">
                
                </mat-form-field>
            </div>

            <div class="container">
                <mat-form-field class="example-full-width">
                    <input type="text" formControlName="apellido" matInput placeholder="Apellido">
                
                </mat-form-field>
            </div>

            <div class="container">
                <mat-form-field class="example-full-width">
                  
                    <input type="number" formControlName="edad" matInput placeholder="Edad">
                
                </mat-form-field>
            </div>
            <div class="container">
                <mat-form-field class="example-full-width">
                       <input type="text" formControlName="domicilio" matInput placeholder="Domicilio">
                
                </mat-form-field>
            </div>


      

            <div>
                <button mat-raised-button color="primary">Guardar</button>
            </div>
        
    </div>


</form>

<div *ngIf="showConsultarPersona">
     <app-consultar-persona [consultarPersona]="crearPersona"></app-consultar-persona> -->
</div> 

 